
@media screen and (max-width: 1700px){}
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px){
	
	/*======== Header =========*/
	
	.header-menu .show-res-logo {
		display: block;
	}
	.header-menu .navbar-brand {
		display: none;
	}
	.header-menu .nav>li>a {
		padding: 35px 13px;
	}
	.search-form .form-group .form-control {
		width: 162px;
	}
	.client-img{
		margin-top: 100px;
	}
	
}
@media screen and (max-width: 1030px){}
@media screen and (max-width: 991px){
	
	
	.menu-search{
		display: none;
	}
	.header-menu .nav>li>a {
		padding: 35px 11px;
	}
	.header-menu .nav>li:first-child>a {
		padding-left: 0;
	}
	.header-menu .nav>li:last-child>a {
		padding-right: 0;
	}
	.about-company::before,
	.about-company:after {
		display: none;
	}
	.about-company img{
		width: 100%;
	}
	.about-company-area	.section-header{
		margin-top: 30px;
	}
	.portfolio-items{
		width: 50%;
	}
	.team-item {
		margin-bottom: 30px;
	}
	.client-img {
		margin-top: 55px;
	}
	.blog-img {
		width: 100%;
	}
	.blog-img a{
		display: block;
	}
	.bg-footer-top {
		padding: 65px 0 85px;
	}
	.address li {
		overflow: hidden;
		padding: 3px 0;
	}
	.footer-widgets{
		margin-top: 30px;
	}
	.blog-content {
		padding: 14px 0px 16px 0px;
	}
	
}
@media screen and (max-width: 860px){}
@media screen and (min-width: 769px) {}
@media screen and (max-width: 767px){
	
	.container .row{
		margin-left: 0;
		margin-right: 0;
	}
	.header-menu .show-res-logo {
		display: none;
	}
	.header-menu .navbar-brand {
		display: block;
	}
	
	
	
	/*================= Header ================*/
	
	.navbar-collapse {
		max-height: 350px;
	}
	.header-menu {
		text-align: left;
	}
	.header-menu .show-res-logo {
		display: none;
		padding-top: 0;
	}
	.unify-menu {
		background: #fff;
	}
	.header-menu .navbar-brand img{
		display: block;
	}
	.menu-scroll.menu-fixed{
		padding: 1px 10px 1px 10px;
	}
	.navbar-header {
		padding: 6px 6px 6px 0px;
	}
	.navbar-toggle{
		width: 30px;
		background: transparent;
	}
	.navbar-toggle .icon-bar{
		border: 1px solid #000;
	}
	.header-menu .navbar-brand img {
		margin-top: 0;
		padding-top: 14px;
	}
	.navbar-brand{
		padding-top: 0;
	}
	button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
		background: transparent;
	}
	.bar-stick {
		width: 25px;
		height: 2px;
		display: block;
		background:  #000;
		margin: 2px 0;	
	}	
	.navbar-toggle .icon-bar-one {
		background: #000;
		-webkit-transform: rotate(45deg) translate(3.5px,7px);
		-moz-transform: rotate(45deg) translate(3.5px,7px);
		-ms-transform: rotate(45deg) translate(3.5px,7px);
		-o-transform:rotate(45deg) translate(3.5px,7px);
		transform:rotate(45deg) translate(3.5px,7px);
		margin: 0;
		-webkit-transition: .5s;
		transition: .5s;
	}
	.navbar-toggle .icon-bar-two {
		width: 0;
	}
	.navbar-toggle .icon-bar-three {
		-webkit-transform: rotate(-48deg) translate(-1px,-2px);
		-moz-transform: rotate(-48deg) translate(-1px,-2px);
		-ms-transform: rotate(-48deg) translate(-1px,-2px);
		-o-transform:rotate(-48deg) translate(-1px,-2px);
		transform: rotate(-48deg) translate(-1px,-2px);
		background: #000;
		margin: 0;
		-webkit-transition: .5s;
		transition: .5s;
	}
	.navbar-toggle.collapsed .icon-bar-one {
		-webkit-transform: rotate(0deg) translate(0px,0px);
		-moz-transform: rotate(0deg) translate(0px,0px);
		-ms-transform:rotate(0deg) translate(0px,0px); 
		-o-transform:rotate(0deg) translate(0px,0px);
		transform: rotate(0deg) translate(0px,0px);
		background:  #000;	
	}
	.navbar-toggle.collapsed .icon-bar-two {
		width: 25px;
		background:  #000;
		margin: 2px 0;
	}
	.navbar-toggle.collapsed .icon-bar-three {
		-webkit-transform: rotate(0deg) translate(0px,0px);
		-moz-transform: rotate(0deg) translate(0px,0px);
		-ms-transform: rotate(0deg) translate(0px,0px);
		-o-transform:rotate(0deg) translate(0px,0px);
		transform: rotate(0deg) translate(0px,0px);
		background:  #000;	
	}
	.navbar-collapse{
		border-top: 1px dotted rgba(90, 84, 184, 0.1);
		margin-top: 8px;
	}
	.header-menu .nav>li>a {
		padding: 15px 20px;
		border-bottom: 1px dotted rgba(90, 84, 184, 0.1);
	}
	.header-menu .nav>li:first-child>a {
		padding-left: 15px;
	}
	.header-menu .nav>li:last-child>a {
		padding-right: 15px;
	}
	.blog-single-items .blog-content h3{
		font-size: 30px;
		line-height: 30px;
	}
	
	
}
@media screen and (max-width: 640px) {
	
	.partner-item{
		text-align: center;
	}
	.portfolio-items {
		width: 100%;
	}
	.slider-content h3{
		font-size: 20px;
	}
	.slider-content h2{
		font-size: 20px;
		line-height: 20px;
	}
	.children li{
		padding-left: 0;
		margin-left: 0;
	}
	.comments-author-name h4 a {
		font-size: 15px;
	}
	
}
@media screen and (max-width: 580px){}
@media screen and (max-width: 500px) {}
@media screen and (max-width: 480px){
	.client-item {
		text-align: center;
	}
	.client-img,
	.client-desc:before {
		display: none;
	}
	.blog-pagination .pagination li a{
		margin-bottom: 4px;
	}
	.blog-single-items .blog-content h3{
		font-size: 20px;
		line-height: 24px;
	}
	.tags,
	.tags-shere-options .social-icon-rounded {
		float: none;
		margin: 2px 0;
	}
	.comment-author {
		float: none;
	}
	.reply-icon {
		float: none;
	}
	
	
	
	
	
	
	
}

@media screen and (max-width: 400px){
	
	.slider-content .slider-btn .btn-default {
		margin: 8px 6px;
	}
	
}
@media screen and (max-width: 320px){
	
	.section-header h3 {
		font-size: 20px;
	}
	.blog-content {
		text-align: center;
	}
	
}
